body {
   background-color: #FFCCCC; /* Warna pink muda */
   font-family: Times New Romance, sans-serif; /* jenis huruf yang mudah di baca */
   color:  #191970; /* warna teks utama (Biru gelap) */
}

.kartu-profil {
   width: 300px;
   margin: 50px auto; /* 50px jarak atas/bawah, auto menengah kiri/kanan */
   padding: 20px;
   background: 20px;
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(0,0, 0, 0.1); /* Efek bayangan */
   text-align: center; /*
}


.kartu-profil img {
    witdth: 150px;
    border-radius: 50%; 
